:root{
    --hero-color: #E4002B;
    --white-color: white;
    --black-color: black;
    --orange-color: orange;

    --normal-font-size: 12px;
}

body{
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    font-family: 'Helvetica Neue', 'sans-serif';
}

header{
    padding-top: 22px;
    padding-left: 100px;
    display: flex;
    background-color: var(--hero-color);
}

header .logo img{
    height: 70px;
    width: 200px;
}

header nav{
    font-size: 20px;
    color: var(--white-color);
}

header ul{
    display: flex;
    position: absolute;
    left: 50%;
}

header ul li{
    list-style: none;
    padding-right: 25px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-style: bold;
    list-style: none;
}

.container{
    position: relative;
}

.container .hero-section{
    background-color: var(--hero-color);
    height: 95vh;
    padding-top: 15vh;
    display: flex;
}

.container .hero-section .hero-text{
    padding-left: 100px;
    margin-right: 100px;
}

.container .hero-section .hero-text h1{
    font-size: 50px;
    color: var(--white-color);
}

.container .hero-section .hero-text p{
    font-size: 17px;
    color: var(--white-color);
}

.container .hero-section .hero-text button{
    padding: 15px;
    background-color: var(--hero-color);
    border: 2px solid var(--white-color);
    border-radius: 25px;
    font-size: 15px;
    margin-top: 10px;
    color: var(--white-color);
    width: 200px;
}

.container .hero-section .hero-image{
    padding-right: 100px;
    width: 30%;
    height: 80%;
}

.container .hero-section .hero-image img{
    width: 960px;
}

.container .menu{
    background-color: var(--white-color);
    height: 30vh;
}

.container .menu .menu-heading{
    background-color: var(--orange-color);
    position: absolute;
    top: 44%;
    left: 44%;
    border-radius: 23px;
    width: 180px;
    height: 55px;
    text-align: center;
}

.container .menu .menu-heading h4{
    color: var(--white-color);
    font-size: 15px;
    font-family: 'National 2 Condensed';
}

.container .menu-2{
    background-color: rgb(252, 212, 198);
    height: 100vh;
}

.container .menu-2 .menu-grid{
   display: flex;
   justify-content: start;
   align-items: center;
}

.container .menu-2 .menu-grid:first-child{
    margin-left: 70px;
}

.container .menu-2 .menu-grid:last-child{
    margin-right: 70px;
}

.container .menu-2 .menu-grid .menu-first-grid{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    background-color: var(--white-color);
    width: 330px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(161, 158, 158);
}

.container .menu-2 .menu-grid .menu-first-grid:hover{
    box-shadow: none;
    cursor: pointer;
}

.container .menu-2 .menu-grid .menu-first-grid .menu-first-grid-text{
    margin-right: 10px;
}

.container .menu-2 .menu-grid .menu-first-grid .menu-first-grid-text h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--black-color);
}

.container .menu-2 .menu-grid .menu-first-grid .menu-first-grid-text h6{
    font-size: 12px;
    color: var(--black-color);
    font-weight: 600;
}

.container .menu-2 .menu-grid .menu-first-grid .menu-first-grid-text h4{
    font-size: 18px;
    color: var(--hero-color);
}

.container .menu-2 .menu-grid .menu-first-grid img{
    height: 200px;
    width: 200px;
}

.container .menu-2 .menu-grid .menu-second-grid{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    background-color: var(--hero-color);
    width: 330px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(161, 158, 158);
}

.container .menu-2 .menu-grid .menu-second-grid:hover{
    box-shadow: none;
    cursor: pointer;
}

.container .menu-2 .menu-grid .menu-second-grid .menu-second-grid-text{
    margin-right: 10px;
}

.container .menu-2 .menu-grid .menu-second-grid .menu-second-grid-text h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--white-color);
}

.container .menu-2 .menu-grid .menu-second-grid .menu-second-grid-text h6{
    font-size: 12px;
    color: var(--white-color);
    font-weight: 600;
}

.container .menu-2 .menu-grid .menu-second-grid .menu-second-grid-text h4{
    font-size: 18px;
    color: var(--white-color);
}

.container .menu-2 .menu-grid .menu-second-grid img{
    height: 200px;
    width: 200px;
}

.container .menu-2 .menu-grid .menu-third-grid{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    background-color: var(--white-color);
    width: 330px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(161, 158, 158);
}

.container .menu-2 .menu-grid .menu-third-grid:hover{
    box-shadow: none;
    cursor: pointer;
}

.container .menu-2 .menu-grid .menu-third-grid .menu-third-grid-text{
    margin-right: 10px;
}

.container .menu-2 .menu-grid .menu-third-grid .menu-third-grid-text h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.container .menu-2 .menu-grid .menu-third-grid .menu-third-grid-text h6{
    font-size: 12px;
    color: var(--black-color);
    font-weight: 600;
}

.container .menu-2 .menu-grid .menu-third-grid .menu-third-grid-text h4{
    font-size: 18px;
    color: var(--hero-color);
}

.container .menu-2 .menu-grid .menu-third-grid img{
    height: 200px;
    width: 200px;
}

.container .menu-2 .menu-grid-2{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
}

.container .menu-2 .menu-grid-2 .menu-first-row{
    width: 37%;
    background-color: var(--white-color);
    color: black;
    margin-left: 120px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(161, 158, 158);
}

.container .menu-2 .menu-grid-2 .menu-first-row:hover{
    box-shadow: none;
    cursor: pointer;
}

.container .menu-grid-2 .menu-first-row .menu-first-row-text{
    margin-right: 160px;
    margin-left: 15px;
}

.container .menu-2 .menu-grid-2 .menu-first-row .menu-first-row-text h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.container .menu-2 .menu-grid-2 .menu-first-row .menu-first-row-text button{
    padding: 15px;
    color: var(--white-color);
    background-color: var(--hero-color);
    font-size: 13px;
    border-radius: 25px;
    border: none;
    margin-top: 15px;
}

.container .menu-2 .menu-grid-2 .menu-first-row img{
    height: 200px;
    width: 200px;
}

.container .menu-2 .menu-grid-2 .menu-second-row{
    width: 36%;
    background-color: var(--white-color);
    color: black;
    margin-left: 50px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(161, 158, 158);
}

.container .menu-2 .menu-grid-2 .menu-second-row:hover{
    box-shadow: none;
    cursor: pointer;
}

.container .menu-grid-2 .menu-second-row-text{
    margin-right: 160px;
    margin-left: 15px;
}

.container .menu-2 .menu-grid-2 .menu-second-row .menu-second-row-text h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.container .menu-2 .menu-grid-2 .menu-second-row .menu-second-row-text button{
    padding: 15px;
    color: var(--white-color);
    background-color: var(--hero-color);
    font-size: 13px;
    border-radius: 25px;
    border: none;
    margin-top: 15px;
    width: 150px;
}

.container .menu-2 .menu-grid-2 .menu-second-row img{
    height: 200px;
    width: 200px;
}

.menu-container{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--white-color);
   width: 100%;
   height: 30vh;
}

.swiper-wrapper{
    display: flex;
    justify-content: center;
}

.swiper-wrapper .swiper-slide{
    border: 3px solid red;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    height: 100px;
    width: 110px;
    margin-left: 60px;
}

.swiper-slide .slider-text{
    text-align: center;
}

.swiper .swipper-button-next{
   color: var(--hero-color);
}



 .image-list img{
    height: 110px;
    width: 140px;
}
